@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    This is a div tag
    <p>This is <b>paragraph</b> under <i>div</i> tag</p>
    <h1>Heading 1</h1>
    <h2>Heading 1</h2>
    <hr />
    <h3>Heading 1</h3>
    <h4>Heading 1</h4>
    <br />
    <h5>Heading 1</h5>
    <h6>Heading 1</h6>
    <a href="./Index">This will take you to home page</a>
</div>