@using Week2.Controllers;
@{
    var controller = new HomeController();
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This will display my name from Name() method : @controller.Name()</p>
    <p>This will display my name from Email() method : @controller.Email()</p>
    <p>This will display my name from Secondary_Email() method : @controller.Secondary_Email()</p>
    <p>This will display my name from Collaborator_Email() method : @controller.Collaborator_Email()</p>
        <p><a href="/Home/HtmlTester">Go to htmltester page</a></p>
    </div>
